html, body { 
    background-color: #fefae0;
    margin: 0; 
    padding: 0;
    height : 100%;
}

svg {
    display: block;
    position: absolute;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color : #D4A373;
    font-weight : 700;
    font-size : 40px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color : #D4A373;
    font-size : 14px; 
    margin-left : 300px;
    margin-right : 300px;
}

